NODE_ENV=development

BACKEND_PORT=8001
BACKEND_JWT_SECRET_KEY=rxPhglGJWPlOW596
BACKEND_JWT_EXPIRATION_TIME=3600

# Database envioroment variables
BACKEND_DB_HOST=127.0.0.1
BACKEND_DB_PORT=5432
BACKEND_DB_USERNAME=
BACKEND_DB_PASSWORD=
BACKEND_DB_DATABASE=techcen


#admin
BACKEND_ADMIN_EMAIL=admin@techcen.vn
BACKEND_ADMIN_PASSWORD=123456


# queue
BACKEND_QUEUE_HOST=localhost
BACKEND_QUEUE_PORT=6379

# aws configurations
## AWS S3
BACKEND_STORAGE_ACCESS_KEY=techcen_minio
BACKEND_STORAGE_SECRET_KEY=7dy5vdg7wxQS
BACKEND_STORAGE_BUCKET=techcen
BACKEND_STORAGE_ENDPOINT=https://media.techcen.vn


# bull board
BACKEND_BULL_BOARD_ADMIN_PASSWORD=123
